<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="kr.or.dduk.vo.EmployeeVO" alias="employeeVO" />
		<typeAlias type="kr.or.dduk.vo.AuthorityVO" alias="authorityVO" />
		<!-- 채팅 -->
		<typeAlias type="kr.or.dduk.vo.ChatVO" alias="chatVO" />
		<typeAlias type="kr.or.dduk.vo.ChatRoomVO" alias="chatRoomVO" />
		<typeAlias type="kr.or.dduk.vo.ChatMemberVO" alias="chatMemberVO" />
	</typeAliases>
	
</configuration>


